body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.about-us-content {
  /* margin-top : 150px; */
  background-color:midnightblue;
  color: #ffffff;
}
.aboutus-text {
  font-size: 18px;
}
.bearer-names-content {
  margin : 30px;
}

.footer-content {
  background-color: orange;
}

.banner-logo{
  margin: 30px;
}

.banner{
  background-image: url('./images/medicine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.footerFont {
  font-size: 30px;
}
.frontfont {
  margin-top : 10px;
  margin-bottom:10px;
  font-size:20px;
  color: midnightblue;
}

.scroll-pointer{
  cursor: pointer;
}
@media all and (min-width: 1024px) and (max-width: 1280px) { }
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { body { background-size : cover !important} 
.about-us-content {
  margin-top : -7.52px !important;
}

}